# don't ever lint node_modules
/node_modules/*
# don't ever lint public
*.css
/.nuxt/*
/src/assets/fonts/*
/src/assets/images/*
/.github/*
/.idea/*
/environments/*
/public/*
/src/static/sw.js
/docs/*
/drafts/*
/dist/*
