# dependencies
node_modules
dist/
node_modules/
/.pnp
.temp/
.temp
.pnp.js
/.yarn/cache/
/.yarn/build-state.yml
/.yarn/install-state.gz

# testing
/coverage

# production
build
!docs/build
dist
.idea
lib
.firebase/
.vscode/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*-debug.log*

# cache
.cache
.brotli_cache/
.gzip_cache/
.assets_cache/
.buildx-cache/
.reports/
/firebase-debug.log
/report.txt
/tokens.txt

.yarn/releases/*
.yarn/plugins/*
.cache/
.temp/
.temp

.notes.md