# Verify contracts

## Verify smart contracts by using block explorer UI

Now that you have learned how to deploy your contracts, you might be interested to know how you can **verify** the contracts deployed on zkSync using the official block explorer. All the details about how to verify contracts can be found on the [block explorer](../../../api/tools/block-explorer/contract-verification.md) page.


## Verify smart contracts with the hardhat-zksync-verify plugin

Learn how to verify your smart contracts with **zkSync Era hardhat plugin**, by following the detailed guide on the [hardhat-zksync-verify](../../../api/hardhat/hardhat-zksync-verify.md) page.