# Verify contracts

## Verify smart contracts by using block explorer UI

Now that you have learned how to deploy your contracts, you might be interested to know how you can **verify** the contracts deployed on zkSync using the official block explorer [smart contract verification tool](https://explorer.zksync.io/contracts/verify). 

## Verify smart contracts with the hardhat-zksync-verify plugin

Learn how to verify your smart contracts with **zkSync Era hardhat plugin**, by following the detailed guide on the [hardhat-zksync-verify](../../../tools/hardhat/hardhat-zksync-verify.md) page.