# 验证合同

## 通过使用区块浏览器UI验证智能合约

现在你已经学会了如何部署你的合约，你可能有兴趣知道你如何使用官方的区块资源管理器**验证**部署在zkSync上的合约。关于如何验证合约的所有细节可以在[block explorer](.../.../api/tools/block-explorer/contract-verification.md)页面找到。

## 用hardhat-zksync-verify插件验证智能合约

了解如何用 **zkSync Era hardhat**插件验证你的智能合约，请遵循[hardhat-zksync-verify](.../.../api/hardhat/hardhat-zksync-verify.md)页面上的详细指南。