// place your custom styles here
.site-name {
    font-weight: 700 !important;
    font-size: 1.2rem !important;
    margin-left: -10px !important;
}
div[class*=language-] > button.copy-code-button:not(.pure) {
    background: #8687fb !important;
}

.footer-wrapper {
    border: none !important;
}

#toc {
    padding: 0 9rem !important;
}

hr{
    display: none !important;
}

a.title {
    font-weight: 700 !important;
}

.logo {
    height: 1.2rem !important;
    padding: 0.70rem 0 !important;
}

.edit-link .icon {
    display: none !important;
}

/* Mobile */
@media only screen and (max-width: 500px) {
    div[class*=language-] > button.copy-code-button:not(.pure) {
        background: #fbb586 !important;
    }
}