// place your custom styles here
:root {
    --pwa-popup-text-color: #2C3E50;
    --pwa-popup-bg-color: #ffffff;
    --pwa-popup-border-color: rgba(0,0,0,0.15);
    --pwa-popup-shadow: 0 4px 16px var(--pwa-popup-border-color);
    
    --pwa-popup-btn-text-color: white;
    --pwa-popup-btn-bg-color: #1e69ff;
    --pwa-popup-btn-hover-bg-color: #0759ff;
    }
    
    body {
        overflow-x: hidden !important;
        font-family: "Inter" !important;
    }
    .site-name {
        display: none;
    }
    div[class*=language-] > button.copy-code-button:not(.pure) {
        background: #8687fb !important;
    }
    
    .theme-container {
        position: relative;
        min-height: 100vh;
    }
    .page {
        padding-bottom: 4rem;
    }
    
    .footer-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .copy-icon {
        background: #1e69ff !important;
    }
    
    .copyright {
        display: none;
    }
    
    p{
        hyphens: none !important;
        text-align: inherit !important;
    }
    
    
    [data-theme="dark"] .sidebar a{
        color: #FFFFFFCC !important;
    }
    
    [data-theme="dark"] #toc .toc-link {
        color: #FFFFFFCC !important;
    }
    
    #toc .toc-link {
        color: #2C3E50 !important;
    }
    
    .sidebar a {
        color: #2C3E50 !important;
    }
    
    [data-theme="dark"] li {
        color: #FFFFFFCC !important;
    }
    
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    
    .newsletter-input {
        display: inline-block;
        width: 18rem;
        font-size: 1rem;
        color: #8c8dfc;
        background-color: #fff;
        padding: 0.5rem 1rem;
        margin: 0.1rem;
        border-radius: 4px;
        transition: background-color .1s ease;
        box-sizing: border-box;
        border: 1px solid #ddd;
    }
    
    .newsletter-button {
        display: inline-block;
        width: 10rem;
        font-size: 1rem;
        color: #8c8dfc;
        background-color: #fff;
        padding: 0.5rem 1.5rem;
        margin: 0.2rem;
        border-radius: 4px;
        transition: background-color .1s ease;
        box-sizing: border-box;
        border: 1px solid #ccc;
        cursor: pointer;
    }
    
    input[type="submit" i] {
        appearance: auto;
        user-select: none;
        white-space: pre;
        align-items: flex-start;
        text-align: center;
    }
    
    .landing .hero-img {
        max-width: 70%;
        width: 400px;
        margin: 10px auto;
    
        img {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    
    [data-theme="dark"] img[src*="/era-dark.svg"] {
        content: url("/era-light.svg") !important;
    }
    
    [data-theme="dark"] img[src*="/images/code-light.png"] {
        content: url("/images/code-dark.png");
    }
    
    [data-theme="light"] img[src*="/images/code-light.png"] {
        content: url("/images/code-light.png");
    }
    
    #toc {
        padding: 0 9rem !important;
    }
    
    @media screen and (max-width: 1600px) {
        #toc {
            padding: 0 4rem !important;
        }
    }
    
    span.title {
        font-size: 14px !important;
    }
    
    hr{
        display: none !important;
    }
    
    tbody td a {
        white-space: nowrap;
    }
    
    a.title {
        font-weight: 700 !important;
    }
    
    .logo {
        height: 1.5rem !important;
        padding: 0.70rem 0 !important;
    }
    
    .external-link-icon {
        padding-left: 4px;
    }
    
    /* Mobile */
    @media screen and (max-width: 419px) {
        div[class*=language-] > button.copy-code-button:not(.pure) {
            border-radius: 15px !important;
            margin: 30px 0 -0.9rem 0 !important;
        }
        .copy-icon {
            margin: 0 0 30px -0.1rem !important;
        }
    }
    p.description {
        font-size: 16px !important;
    }
    
    h1#main-title {
        font-size: 30px !important;
    }
    
    .home.project .features {
    
        border-top: none !important;
    }
    
    
    
    //Homepage Redesign
    $light-selector: 'html[data-theme="light"]';
    $dark-selector: 'html[data-theme="dark"]';
    
    $light-text: #fff;
    $dark-text: #2c3e50;
    $dark-background-color: #1d2536;
    $background-color: #fff;
    $border-color: #e5e7eb;
    
    [data-theme="dark"] a.title {
        color: $light-text !important;
    }
    
    [data-theme="light"] a.title {
        color: $dark-text !important;
    }
    
    [data-theme="light"] img[src*="/zk-sync-era-line-light.svg"] {
        content: url("/zk-sync-era-line-dark.png");
    }
    
    [data-theme="dark"] img[src*="/zk-sync-era-line-light.svg"] {
        content: url("/zk-sync-era-line-light.svg");
    }
    
    [data-theme="dark"] h3 {
        color: $light-text !important;
    }
    
    [data-theme="light"] h3{
        color: $dark-text !important;
    }
    
    [data-theme="dark"] h1 {
        color: $light-text !important;
    }
    
    [data-theme="light"] h1 {
        color: $dark-text !important;
    }
    
    [data-theme="dark"] h2 {
        color: $light-text !important;
        border-bottom: none !important;
    }
    
    [data-theme="light"] h2{
        color: $dark-text !important;
        border-bottom: none !important;
    }
    
    [data-theme="dark"] h3 {
        color: $light-text !important;
    }
    
    [data-theme="light"] h3{
        color: $dark-text !important;
    }
    
    [data-theme="dark"] .feature {
        border: 1px solid #393939;
        border-radius: 8px;
        background-color: #252934;
    }
    
    [data-theme="light"] .feature {
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        background-color: $background-color;
    }
    
    [data-theme="light"] .font-icon {
        color: #1e69ff !important;
    }
    
    [data-theme="dark"] .font-icon {
        color: #1e69ff !important;
    }
    
    .home.project .feature .font-icon {
        height: 44px;
        width: 44px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    span{
        font-size: 16px;
    }
    
    //Homepage css
    
    [data-theme="dark"] .site-name {
        color: $light-text !important;
    }
    
    [data-theme="light"] .site-name {
        color: $dark-text !important;
    }

    [data-theme="dark"] .google-translate-select-dropdown__menu li.selected {
        color: $light-text !important;
    }
    
    [data-theme="light"] .google-translate-select-dropdown__menu li.selected {
        color: $dark-text !important;
    }

    [data-theme="dark"] .google-translate-select-dropdown__menu {
        background-color: $dark-text !important;
    }
    
    [data-theme="light"] .google-translate-select-dropdown__menu {
        background-color: $light-text !important;
    }

    [data-theme="dark"] .google-translate-select-dropdown__menu__item :hover {
        color: #1d2536 !important;
    }
    
    [data-theme="light"] .google-translate-select-dropdown__menu__item :hover {
        color: #1d2536 !important;
    }
    
    [data-theme="light"] img[src*="../../assets/images/code-light.png"] {
        content: url("../../assets/images/code-dark.png");
        
    }
    
    [data-theme="dark"] img[src*="../../assets/images/code-light.png"] {
        content: url("../../assets/images/code-dark.png") !important;
    }
    
    @media all and (max-width: 400px) {
        .card-container {
            flex-direction: column;
            min-width: none;
        }
    }
    
    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        flex-flow: row wrap;
    
        .card {
            flex: 1;
            margin: 10px;
            display: flex;
            min-width: 220px;
            //box-shadow: 0 0 2px 2px rgba(0,0,0,.05);
            background: inherit;
            -webkit-transition: .3s all ease;
            transition: .3s all ease;
            border-radius: 8px;
            h3 {
                font-size: 18px;
                font-weight: 500; 
            }
        }
    }
    
    .card-container .card:hover {
        box-shadow: 0 0 8px 3px rgba(0,0,0,.15);
        transform: scale(1.025);
        opacity: 1;
        text-decoration: none !important;
        transition: .3s all ease;
        opacity: .7;
        cursor: pointer;
    }
    
    .card-container .card .content {
        border: 1px solid hsla(0,0%,100%,.07);
        flex-grow: 1;
        gap: 12px;
        padding: 20px;
    }
    
    .cards-heading {
        margin-top: 40px;
        margin-bottom: 20px;
        color: #1e69ff;
    }
    
    .intro-text {
        font-size: 16px !important;
        font-weight: 500 !important;
        margin-bottom: 20px;
    }
    
    .title-section {
        font-size: 22px;
        font-weight: 700;
    }
    
    [data-theme="dark"] .card-container .card .content {
        border: 1px solid #393939;
        border-radius: 8px;
        background-color: #252934;
    }
    
    [data-theme="dark"] .card-container .card .content {
        border: 1px solid #393939;
        border-radius: 8px;
        background-color: #252934;
    }
    
    [data-theme="light"] .card-container .card .content {
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        background-color: $background-color;
    }
    
    [data-theme="dark"]  p {
        color: $light-text !important;
    }
    
    [data-theme="light"]  p {
        color: $dark-text !important;
    }
    
    .navbar .nav-item > .nav-link:hover::after, .navbar .nav-item > .nav-link.active::after {
        bottom: -14px;
    }
    
    .fade-slide-y-enter-active {
        transition: all 0.15s ease;
    }
    
    .fade-slide-y-leave-active {
        transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
    }
    
    div.hero-img {
        pointer-events: none !important;
        cursor: default !important;
    }
    
    .page-meta .contributors {
        text-align: left !important;
    }
    
    .newsletter-button {
        color: #1e69ff;
    }
    
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .row{
        flex-wrap: nowrap;
        box-sizing: border-box;
        margin: 0;
        min-width: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1024px;
        padding-bottom: 30px;
        padding-left: 9%;
        
    
    }
    #footer{
        //background-color: #24262b;
        padding: 20px 0;
        justify-content: center;
        display: flex;
    }
    
    [data-theme="dark"] #footer {
        background-color: #24262b !important;
    }
    
    [data-theme="light"] #footer {
        background-color: #f5f6f7 !important;
    }
    .footer-col{
        width: 25%;
        padding: 0 15px;
    }
    .footer-col ul{
        list-style: none !important;
    }
    
    [data-theme="dark"] .footer-col h4 {
        color: $light-text !important;
    }
    
    [data-theme="light"] .footer-col h4 {
        color: $dark-text !important;
    }
    
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    
    [data-theme="dark"] .footer-col ul li a {
        color: $light-text !important;
    }
    
    [data-theme="light"] .footer-col ul li a {
        color: $dark-text !important;
    }
    .footer-col ul li a:hover{
        color: #0759ff !important;
    }
    .footer-col ul li a:active{
        color: #0759ff !important;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color: #24262b;
        background-color: #ffffff;
    }
    
    /*responsive*/
    @media(max-width: 767px){
        .footer-col{
            width: 50%;
            margin-bottom: 30px;
            
        }
        .row {
            flex-direction: column;
        }
    }
    @media(max-width: 574px){
        .footer-col{
            width: 100%;
        }
    }
    
    .toggle-sidebar-wrapper .arrow  {
        background-color: #edeff3;
        border-radius: 50%;
        font-size: 32px;
    }
    
    [data-theme="dark"] .toggle-sidebar-wrapper .arrow  {
        background-color: #24262b !important;
    }
    
    [data-theme="light"] .toggle-sidebar-wrapper .arrow {
        background-color: #f5f6f7 !important;
    }
    
    .theme-hope-content:not(.custom) > h3, .theme-hope-content:not(.custom) > h4 {
        margin-top: calc(-4.0rem);
        
    }

    .google-translate-select-flag {
        display: none !important;
    }

    .navbar{
        top: 12px !important;
    }

.bar {
    background-color: #8687fb;
    z-index: 999;
    position: fixed;
    bottom: 45px;
    width: 100%;
    //height: 50%;
    display: flex !important; 
}

p.text {
    color: #fff !important;
    padding: 0 0 0 30% !important;
    margin: 50px 0 0 0 !important;
    justify-content: center !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.bar.hide {
    display: none;
}
