// https://vuepress.vuejs.org/config/#palette-styl
$accentColor = #797AFB
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #8C8DFC
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$ml1 = #4E529A
$ml2 = #8C8DFC

