## Verify smart contracts
Now that you have learned how to deploy your contracts, you might be interested to know how you can **verify** the contracts deployed on zkSync using the official block explorer. All the details about how to verify contracts can be found on the [block explorer](https://v2-docs.zksync.io/api/tools/block-explorer/contract-verification.html) page.
