name: "CI: releasing version"
"on":
  push:
    branches: [ main ]
jobs:
  release:
    if: ${{ github.event.repository.full_name == github.repository }} && {{ !contains(github.event.head_commit.message, "skip ci") }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          fetch-depth: 0
          # Whether to configure the token or SSH key with the local git config
          # Default: true
          persist-credentials: false # <--- checking this in commit context

      - name: "Enable yarn cache"
        uses: c-hive/gha-yarn-cache@d528cd63c28aed0a9f44b1cada95050d7aa95c2e # v2  # using cache

      - name: "Setup node@14"
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: "lts/*"

      - name: "Install dependencies"
        run: |
          yarn set version 3.1.1
          yarn install
      - name: "Semantic release"
        run: yarn semantic-release
        env:
          HUSKY: 0
          CI: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}